body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}
.layout {
  display: flex;
}
#sidebar {
  width: 250px;
  background-color: #1d3557;
  color: #fff;
  min-height: 100vh;
  position: fixed;
}
.main-content {
  margin-left: 250px;
  flex: 1;
  padding: 20px;
}
.customers-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers-section h1 {
  margin: 20;
}
.customers-section button {
  background: #1d3557;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/*
.customers-section table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
table th, table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
table th {
  background: #f0f0f0;
}

*/
.actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  color: #1d3557;
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}
.modal-content input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.modal-content button {
  width: 100%;
  padding: 12px;
  background: #1d3557;
  color: white;
  border: none;
  border-radius: 8px;
}
.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
  .customers-section .header {
    flex-direction: column;
    align-items: flex-start;
  }
}


